* {
	padding:0;
	margin:0;
	font-size: 25px;
	text-align: center;
	background-color: black;
	color: white;
}

header {
  height: 50px;
  padding: 1rem;
  color: white;
  background: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
	width: 25px;

}

.text {
	height: : 50%
}